.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 90vh;   
}

.logo-text {
    font-family: 'Orbitron', sans-serif; 
}

.logo-caption {
    margin-left: 40%;
    margin-top: -1%;
}

