.portfolioHome-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.resume-card {
    padding: 5%;
}

.resume-card-position {
    font-family: 'Orbitron', sans-serif; 
}

.resume-card-content {
    font-family: 'Saira Condensed', sans-serif;
}

