.blogHome-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myStoryHome-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myStoryHomeContent-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myStoryHomeContent-body {
    text-align: justify;
    padding: 0 5% 0 5%;
    font-family: 'Saira Condensed', sans-serif;
}

.myStorySummary-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myStorySummary-title {
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

#myStoryHome-back-btn {
    padding: 1em;
}

#blogHomeContent-back-btn {
    padding: 1em;
}

#myStorySummary-body {
    text-align: justify;    
}

.blogHome-body {
    padding-top: 150px;
    margin-bottom: 150px;
}

.blogHome-backBtn {
    
}

.myStoryContent-title {
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
}

.myStoryContent-subTitle {   
    font-size: xx-small;
    font-family: 'Saira Condensed', sans-serif;
    font-style: italic;
    margin-bottom: 12px;   
}

#myStorySummary-btn {
    font-size: x-small;
    padding: 0;
}

.myStoryContent-surface {
    border: 1px solid gray;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    box-shadow: 5px 7px black;
}