.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header"
      "main main main"
  }

.item-a {
  grid-area: header;
  background-color: black;
  color: white;
  display: grid;  
  grid-template-columns: 80% 10% 10%;
}

.item-a-a {
  grid-column: 1 / span 1;  
  align-self: center;
  justify-self: left;
  padding: 1em;
}

.item-a-b {
  grid-column: 2 / span 1;  
  align-self: center;
  justify-self: right;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.item-a-c {
  grid-column: 3 / span 1;  
  align-self: center;
  justify-self: center;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
}

.item-b {
  grid-area: main;  
  justify-self: center;
  align-self: center;
}

.headerButton:hover {
  color: aqua;
}

