.container {    
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8vh 84vh 8vh;
    grid-template-areas: 
      "header header header"
      "body body body"
      "footer footer footer"
  }

.item-a {  
  grid-area: header;
  background-color: black;
  color: white;
  display: grid;  
  grid-template-columns: 60% 25% 15%;
}

.item-a-a {  
  grid-column: 1 / span 1;  
  align-self: center;
  justify-self: left;
  font-family: 'Orbitron', sans-serif; 
}

.item-a-b {
  grid-column: 2 / span 1;  
  align-self: center;
  justify-self: right;
  padding: 1em;
  font-family: 'Saira Condensed', sans-serif;
  font-style: italic;
}

.item-a-c {
  grid-column: 3 / span 1;  
  align-self: center;
  justify-self: center;
  padding: 1em;
  margin-right: 5px;
  font-family: 'Saira Condensed', sans-serif;
  font-style: italic;
}

.item-b {
  grid-area: body;
  background-color: white;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-b-a {
  
}
.item-b-b {
  grid-area: main;  
}

.item-b-c {
  
}

.item-c {
  grid-area: footer;
  background-color: black;  
  display: grid;
  justify-content: center;
  align-content: center;
}
.headerButton:hover {
  color: gray;
}

.footerButton {
  background-color: white; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
  font-family: 'Saira Condensed', sans-serif;
 
}

.footerButton:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.24);
}

