.home-container {
    display: flex;  
    flex-direction: column; 
    width: 100vw; 
    align-items: center;  
}

.logo-text {
    font-family: 'Orbitron', sans-serif; 
    font-size: xx-large;
    margin-bottom: -5%;
}

.logo-caption {
    padding-left: 175px;      
    font-family: 'Saira Condensed', sans-serif;
    font-size: medium;
}

