.container {    
    display: grid;
    min-height: 100vh;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
      "header header header"
      ". body ."
      "footer footer footer";
  }

.item-a {  
  grid-area: header;
  background-color: black;
  color: white;
  display: grid;  
  grid-template-columns: 60% 25% 10%;
}

.item-a-a {  
  grid-column: 1 / span 1;  
  align-self: center;
  justify-self: left;
  font-family: 'Orbitron', sans-serif; 
}

.item-a-b {
  grid-column: 2 / span 1;  
  align-self: center;
  justify-self: right;
  padding: 1em;
  font-family: 'Saira Condensed', sans-serif;
  font-style: italic;
}

.item-a-c {
  grid-column: 3 / span 1;  
  align-self: center;
  justify-self: center;
  padding: 1em;
  margin-right: 5px;
  font-family: 'Saira Condensed', sans-serif;
  font-style: italic;
}

.item-b {
  grid-area: body;
  background-color: white;  
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-c {
  grid-area: footer;
  background-color: black;  
  display: flex;  
  justify-content: center;
  align-items: center;      
}

.headerButton {
  color: white;  
}

.headerButton:hover {
  color: gray;
}

a {
  text-decoration: none;
}

